<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/404.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div style="display:inline-block"> <a href="/index">Home</a></div>
                <br />
                <div style="display:inline-block"> <a href="/analyzer" class="active">Analyzer</a></div>
                <br />
                <div style="display:inline-block"><a href="/about">About</a></div>
                <br />
                <div style="display:inline-block"><a href="/sources">Sources</a></div>
                <br />
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">

                <p>{{errorMessage}}</p>
            </div>
            {{!-- {{>footer}} --}}
        </div>
</body>

</html>