<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div><a href="/index">Home</a></div>
                <div><a href="/analyzer">Analyzer</a></div>
                <div><a href="/about" class="active">About</a></div>
                <div><a href="/sources">Sources</a></div>
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">
                <div class="row" style="height: 50vh;">
                    <div class="column">
                        <div class="card">
                            {{!-- <div class="img-class"> --}}
                                <img src="/img/me.JPG" alt="Name" style="width:100%;">
                            {{!-- </div> --}}
                            <div class="container">
                                <h2 class="column-header">NARA B</h2>
                                <p class="column-title"> SOFTWARE ENGINEER </p>
                                <p>Full stack developer who focuses on writing clean, elegant and efficient
                                    applications.</p>
                                <p><button class="about-button"
                                        onclick="window.location.href='mailto:nerdwalla@gmail.com'">Contact</button></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>

</html>