<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div style="display:inline-block"> <a href="/index">Home</a></div>
                <br />
                <div style="display:inline-block"> <a href="/analyzer">Analyzer</a></div>
                <br />
                <div style="display:inline-block"><a href="/about" class="active">About</a></div>
                <br />
                <div style="display:inline-block"><a href="/sources">Sources</a></div>
                <br />
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">


                {{!-- <p class="about-title">
                    &lt;SOFTWARE ENGINEER /&gt; <br />
                </p> --}}
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img src="/img/me.JPG" alt="Name" style="width:100%">
                            <div class="container">
                                <h2>Nara B</h2>
                                <p class="title"> SOFTWARE ENGINEER </p>
                                <p>Full stack developer who focuses on writing clean, elegant and efficient applications.</p>
                                <p><button class="about-button" onclick="window.location.href='mailto:nerdwalla@gmail.com'">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>

</body>

</html>