<!DOCTYPE html>
<html>

<head>
    <title>500</title>
    <link rel="icon" href="/img/404.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>404 HTML Template by Colorlib</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/notfoundstyle.css" />
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div style="display:inline-block"> <a href="/index">Home</a></div>
                <br />
                <div style="display:inline-block"> <a href="/analyzer">Analyzer</a></div>
                <br />
                <div style="display:inline-block"><a href="/about">About</a></div>
                <br />
                <div style="display:inline-block"><a href="/sources">Sources</a></div>
                <br />
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">

                <div id="notfound">
                    <div class="notfound">
                        <div class="notfound-404"></div>
                        <h1>500</h1>
                        <h2>Oops! Something went wrong</h2>
                        <p style="color: #de1010;">{{errorMessage}}</p>
                        <a href="/index">Back to homepage</a>
                    </div>
                </div>
            </div>
            {{!-- {{>footer}} --}}
        </div>
</body>

</html>