<!DOCTYPE html>
<html>

<head>
    <title>Analyzer</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div style="display:inline-block"> <a href="/index" class="active">Home</a></div>
                <br />
                <div style="display:inline-block"> <a href="/analyzer">Analyzer</a></div>
                <br />
                <div style="display:inline-block"><a href="/about">About</a></div>
                <br />
                <div style="display:inline-block"><a href="/sources">Sources</a></div>
                <br />
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">

                <article>
                    <h2>Sentiment Analysis</h2>

                    <p></p>

                    <div class="all-questions">

                        <h3 id="one">What is Sentimental analysis?</h3>
                        <p>
                            Sentiment analysis is the interpretation and classification of emotions (positive, negative
                            and neutral) within text data using text analysis techniques. Sentiment analysis tools allow
                            businesses to identify customer sentiment toward products, brands or services in online
                            feedback.
                            <br />
                        </p>
                        <img src="/img/emotions.jpg" alt="Emotions"  width="100%" and height="10%"/>
                        

                        <h3 id="two">Why is this needed?</h3>
                        <p>
                            Sentiment analysis is extremely useful in social media monitoring as it allows us to gain an
                            overview of the wider public opinion behind certain topics. Social media monitoring tools
                            like this tool make that process quicker and easier than ever before, thanks to real-time
                            monitoring capabilities.

                            The applications of sentiment analysis are broad and powerful. The ability to extract
                            insights from social data is a practice that is being widely adopted by organisations across
                            the world.

                            Using these tools, organizations can identify what their customers like and what can be
                            improved to keep their customers happy.

                            Since most of the data online is unstructured/ unorganized, it’s hard to analyze,
                            understand, and sort through, not to mention time-consuming and expensive.
                            <br />
                            <br />
                        </p>

                        <h3 id="three">How to understand data?</h3>
                        <p>
                            This application provides 3 sections of the analyzed data.
                        <ul>
                            <li>Overall Sentiment - Gives the average rating of all the data points combined. The
                                sentiment ranges between -1.0 (negative) and 1.0 (positive) and corresponds to the
                                overall emotional leaning of the text.</li>
                            <li>Most positive data point - Gives the most positive review, its sentiment score and
                                actual text data</li>
                            <li>Most negative data point- Gives the most positive review, its sentiment score and actual
                                text data</li>
                        </ul>
                        <br />
                        </p>

                        <h3 id="four">Which tools were used?</h3>
                        <p>
                            <a href="/sources">Sources</a>
                        </p>

                    </div>

                </article>
            </div>
        </div>


        <script src="/js/app.js"></script>
</body>

</html>