<!DOCTYPE html>
<html>

<head>
    <title>Sources</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div><a href="/index">Home</a></div>
                <div><a href="/analyzer">Analyzer</a></div>
                <div><a href="/about">About</a></div>
                <div><a href="/sources" class="active">Sources</a></div>
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">
                <br />

                <p class="sources-header">On top of HTML and client side JS, the following languages/ API's were used to
                    create this application </p>
                <br />
                <div class="source-row">
                    <div class="source-column">
                        <div class="source-card">
                            <img src="/img/nodejs.svg" alt="NodeJS ">
                            <div class="container">
                                <p>Used for backend scripting</p>
                            </div>
                        </div>
                    </div>
                    <div class="source-column">
                        <div class="source-card">
                            <img src="/img/python.png" alt="Python Programing Language">
                            <div class="container">
                                <p>Used to Scrape Yelp for reviews</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="source-row">
                    <div class="source-column">
                        <div class="source-card">
                            <img src="/img/google-cloud.svg" alt="Google Cloud">
                            <div class="container">
                                <p>Used to analyze the reviews and interprets it meaning programatically</p>
                            </div>
                        </div>
                    </div>
                    <div class="source-column">
                        <div class="source-card">
                            <img src="/img/Yelp-logo-vector-01.svg" alt="Yelp API">
                            <div class="container">
                                <p>Used to fetch Location information</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>

</html>