<!DOCTYPE html>
<html>

<head>
    <title>Sources</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div style="display:inline-block"> <a href="/index">Home</a></div>
                <br />
                <div style="display:inline-block"> <a href="/analyzer">Analyzer</a></div>
                <br />
                <div style="display:inline-block"><a href="/about">About</a></div>
                <br />
                <div style="display:inline-block"><a href="/sources" class="active">Sources</a></div>
                <br />
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">


                <h1> This app is developed using the following: </h1>
                <ul>
                    <li>
                        Yelp API - to fetch Location information
                    </li>
                    <li>
                        Google Cloud API - to analyze the reviews and interprets it meaning programatically
                    </li>
                    <li>
                        Python - to Scrape Yelp for reviews
                    </li>
                </ul>
            </div>
        </div>
        {{!-- {{>footer}} --}}
</body>

</html>